</br></br></br>

<div class="row">
  <center><div class="column"></center>
    <div class="card">
      <div class="text-center"> </br>
        <%= image_tag "student.png", alt: "Profil", width: 200, height: 200 %>
        <div class="container">
          <br/>
          <h2><%= @first_name%> <%= @last_name %> </h2>
          <p class="title"> <%= @age %>years old, <%= @city %> </p>
          <p> <%= @description %></p>
          <p> <%= @email %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
